<div class="container-fluid bg-secondary text-dark mt-5 pt-5">

        <div class="row px-xl-5 pt-5">
            <div class="col-lg-4 col-md-12 mb-5 pr-3 pr-xl-5">
                <a href="" class="text-decoration-none">
                     <h1 class="m-0 display-5 font-weight-semi-bold"><span class="text-primary font-weight-bold border px-3 mr-1"><img src='{{ setting.icon.url }}' alt="My image" width="50" height="50"></span>Y KÜTÜPHANE</h1>

                </a>
                <p>{{ setting.title }}</p>
                <p class="mb-2"><i class="fa fa-map-marker-alt text-primary mr-3"></i>{{ setting.company }}</p>
                <p class="mb-2"><i class="fa fa-envelope text-primary mr-3"></i>{{ setting.email }}</p>
                <p class="mb-0"><i class="fa fa-phone-alt text-primary mr-3"></i>{{ setting.phone }}</p>
            </div>

            <div class="col-lg-8 col-md-12">

                    <div class="col-md-4 mb-5">
                        <h5 class="font-weight-bold text-dark mb-4">Sayfalar</h5>
                        <div class="d-flex flex-column justify-content-start">
                            <a class="text-dark mb-2" href="/"><i class="fa fa-angle-right mr-2"></i>Ana sayfa</a>
                            <a class="text-dark mb-2" href="/hakkimizda"><i class="fa fa-angle-right mr-2"></i>Hakkımızda</a>
                            <a class="text-dark mb-2" href="/oduncverme"><i class="fa fa-angle-right mr-2"></i>Ödünç Verme</a>
                            <a class="tXxt-dark mb-2" href="/iletisim"><i class="fa fa-angle-right mr-2"></i>İletişim</a>
                        </div>
                    </div>

            </div>

        </div>

    </div>