{%  extends "homebase.html" %}

{% block title %} {{setting.title}} {% endblock %}
{% block keywords %}{{ index.keywords  }}{% endblock %}
{% block description %}{{  index.description  }}{% endblock %}


{% block head %}
   <link  rel='shortcut icon' type='image/x-icon' href='{{ setting.icon.url }}'>
 {% endblock %}

{% block header %}{% include "header.html" %}{% endblock %}
{% block sidebar %}{% include "sidebar.html" %}{% endblock %}
{% block content %}{% include "content.html" %}{% endblock %}
{% block footer %}{% include "footer.html" %}{% endblock %}